
<p>welcome to Cyber IT Pvt. Ltd.</p>

<button  (click)="coding()"style="margin-bottom:10px">Coding and Design </button>&nbsp;&nbsp;<br>





<button class="btn btn-primary" [disabled]="startBtnDisabled" (click)="codingStart()">Start</button>&nbsp;&nbsp;&nbsp;



<button class="btn btn-primary" [disabled]="endBtnDisabled"(click)="codingEnd()">End</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" (click)="reset()">Reset</button>&nbsp;&nbsp;&nbsp;
<p>{{minuteLeft}}:{{secondLeft}} minutes Left....</p> 



<button  style="margin-top:100px;margin-bottom:10px">Documentation</button>  <br>

<button class="btn btn-primary"[disabled]="startBtnDisabledDoc" (click)="documentationStart()"> Start</button>&nbsp;&nbsp;&nbsp;

<button class="btn btn-primary"[disabled]="endBtnDisabledDoc" (click)="documentationEnd()">End</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" (click)="docReset()">Reset</button>&nbsp;&nbsp;&nbsp;
<p>{{docMinuteLeft}}:{{docSecondLeft}} minutes  Left....</p> 